@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 20px;
    background-image: url('./image/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}